<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100&family=Oswald:wght@200;300;400&family=Sen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/inicio.css">
    <script src="https://kit.fontawesome.com/a214269803.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../public/img/logo.jpeg">
    <title>Nuestra Huerta</title>

</head>

<body>
    <!-- ********************************HEADER********************************* -->
    <div class="contenedor">
        <header>
            <div class="head-nav">
                <div class="head-nav">
                    <a href="#"><img class="logo_menu" src="img/logo.jpeg" alt="Volver al Inicio" title="Volver al Inicio"></a>
                    <input type="text" placeholder="Buscar productos y recetas... "> <button class="lupa"><i class="fa fa-search fa-2x"></i></button>
                    <a class="user" href="/register"> <i class="fas fa-solid fa-user fa-2x" alt="Ingresa a tu Cuenta" title="Ingresa a tu Cuenta"></i></a>
                    <a class="carrito" href="#"> <i class="fa-solid fa-cart-shopping fa-2x" alt="Tu Carrito de Compras" title="Tu Carrito de Compras"></i> </a>
                </div>

            <nav class="list-servicio">
                <ul>
                    <li><a href="#">Frutas Organicas</a></li>
                    <li><a href="#">Verduras Organicas</a></li>
                    <li><a href="#">Bolsones y Promos</a></li>
                    <li><a href="#">Nuestras Recetas</a></li>
                    <li><a href="#">Contactanos</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <br>
    <!-- ********************************BANNER********************************* -->
    <section>
        <div class="banner">
            <H2>Conoce nuestros campos!!</H2>
            <p>Las mejores y mas frescas cosechas, sembrado con todas las normas y cuidados priorizando siempre tu
                bienestar y la de tu familia</p>
            <a href="#" class="btn">Conoce <i class="fas fa-chevron-right"></i></a>
        </div>
        <br>
        <!-- ******************************SUB_TITULO*************************************** -->
        <div class="sub_titulo">
            <a href="#"> <h2>Lo Más Destacado</h2> </a>
        </div>
        <br>
        <!-- *******************************ARTICULOS_UNO************************************* -->
        <div class="articulos">
            <article>
                <a href="#"><img src="img/imagen de frutas.jpg" alt="Frutas"></a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
                </article>

            <article>
                <a href="#"><img src="img/imagen de verduras.jpg" alt="verduras"></a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
                </article>

            <article>
                <a href="#"><img src="img/imagen de frutas.jpg" alt="Frutas"></a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
                </article>

            <article>
                <a href="#"><img src="img/imagen de verduras.jpg" alt="verduras"></a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
                </article>

            <article>
                <a href="#"><img src="img/imagen de frutas.jpg" alt="Frutas"></a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
                </article>

            <article>
                <a href="#"><img src="img/imagen de verduras.jpg" alt="verduras"></a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
                </article>

            <article>
                <a href="#"><img src="img/imagen de frutas.jpg" alt="Frutas"></a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
                </article>

            <article>
                <a href="#"><img src="img/imagen de verduras.jpg" alt="verduras"></a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
                </article>
            <br>
        </div>
        
    </section>

    <!-- *******************************SECCION_DOS************************************* -->

    <section>

    <!-- *******************************ARTICULOS_DOS************************************* -->

    </section>



    <!-- **************************FOOTER************************************** -->

    <footer>

    </footer>
    <br>
</body>

</html>