<!DOCTYPE html>					
<html>					
<head>					
<meta charset="UTF-8">					
<title>Nuestra Huerta</title>					
<meta name="viewport" content="width=device-width, initial-scale=1.0">					
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">					
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">					
<link rel="stylesheet" href="css/login.css">
<link rel="icon" href="/img/logo.png">					
</head>					
<div class="contenedor">
    <header>
        <div class="head-nav">
            <div class="head-nav">
                <a href="#"><img class="logo_menu" src="img/logo.jpeg" alt="Volver al Inicio" title="Volver al Inicio"></a>
                <input type="text" placeholder="Buscar productos y recetas... "> <button class="lupa"><i class="fa fa-search fa-2x"></i></button>
                <a class="user" href="/register"> <i class="fas fa-solid fa-user fa-2x" alt="Ingresa a tu Cuenta" title="Ingresa a tu Cuenta"></i></a>
                <a class="carrito" href="#"> <i class="fa-solid fa-cart-shopping fa-2x" alt="Tu Carrito de Compras" title="Tu Carrito de Compras"></i> </a>
            </div>

        <nav class="list-servicio">
            <ul>
                <li><a href="#">Frutas Organicas</a></li>
                <li><a href="#">Verduras Organicas</a></li>
                <li><a href="#">Bolsones y Promos</a></li>
                <li><a href="#">Nuestras Recetas</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
            </ul>
        </nav>
    </header>
</div>
<br>
<body>					
<header>Iniciar Sesión</header>					
<h4>Comprá en Nuestra Huerta y llevá el control de tus pedidos en forma rápida</h4>					
<form action="/info-guardada" method="POST" class= "create-form">					
					
<div class="control-formulario"> 					
<label>Email</label>					
<input type:"text" name: "mail" placeholder="ej: josepepin@hotmail.com" class="control" required> 					
</div>					
<br> 					
<div class="control-formulario"> 					
<label>Contraseña</label>					
<input type:"password" name: "clave" class="control"> 
</div>					
<br> 					
					
<button type="submit" class="button-form">Iniciar Sesión</button>					
</form> 				
<br>				
 					
</body>					
</html>					
