<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100&family=Oswald:wght@200;300;400&family=Sen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/inicio.css">
    <link rel="stylesheet" href="css/producto.css">
       <script src="https://kit.fontawesome.com/a214269803.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/img/logo.png">
    <title>Nuestra Huerta</title>

</head>

<body>
    <!-- ********************************HEADER********************************* -->
    <div class="contenedor">
        <header>
            <div class="head-nav">
                <div class="head-nav">
                    <a href="inicio.html" target="_blank"><img class="logo_menu" src="/img/logo.png" alt="Volver al Inicio" title="Volver al Inicio"></a>
                    <input type="text" placeholder="Buscar productos recetas y más... "> <button class="lupa"><i class="fa fa-search fa-2x"></i></button>
                    <a class="hambur"  href="#"> <i class="fa-solid fa-bars fa-2x"></i> </a>
                    <a class="user" href="/login" target="_blank"> <i class="fa-solid fa-user fa-2x" alt="Ingresa a tu Cuenta" title="Ingresa a tu Cuenta"></i></a>
                    <a class="user" href="/login" target="_blank"> <i class="fa-regular fa-user fa-2x" alt="Crear Cuenta" title="Crear Cuenta"></i> </a>
                    <a class="carrito" href="#" target="_blank"> <i class="fa-solid fa-cart-shopping fa-2x" alt="Tu Carrito de Compras" title="Tu Carrito de Compras"></i> </a>
                </div>
            </div>
            <nav class="list-servicio">
                <ul>
                    <li><a href="frutas">Frutas Orgánicas</a></li>
                    <li><a href="verduras">Verduras Orgánicas</a></li>
                    <li><a href="#">Bolsones y Promos</a></li>
                    <li><a href="#">Nuestras Recetas</a></li>
                    <li><a href="#">Contactanos</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>
            </nav>
            <div class="burgg">
                <a class="hambur"  href="#"> <i class="fa-solid fa-bars fa-2x"></i> </a>
            </div>
        </header> 
    </div>
    <br>
    <hr>


    <!-- ***********************************************************************************************
***********************************************************************************************
***********************************************************************************************
***********************************************************************************************
*********************************************************************************************** -->

<!-- ********************************BANNER********************************* 
    <section>
        <div class="banner">
            <H2>Conoce nuestros campos!!</H2>
            <p>Las mejores y mas frescas cosechas, sembrado con todas las normas y cuidados priorizando siempre tu
                bienestar y la de tu familia</p>
            <a href="#" class="btn">Conoce <i class="fas fa-chevron-right"></i></a>
        </div>
        <br>-->
    <!-- ******************************SUB_TITULO*************************************** -->
    <div class="sub_titulo">
        <a href="verduras">
            <h2 class="categoria">Verduras / Papa blanca</h2>
        </a>
    </div>
    <br>
    <!-- *******************************ARTICULOS_UNO************************************* -->
    <div class="items">
        <article class="productovta">
            <a href="#"><img class="foto_productos" src="img/papas.jpg" width="192" height="128" alt="Verduras"></a>
            <figcaption class="enlacesproductos">
                <h2 class="productos">Papa blanca orgánica x Kg</h2> <br>
                <h2 class="precio">$140,00</h2><h3 class="impuestos">Impuestos incluidos</h3> 
                <br> 
                <h2 class="stock"><i class="fa-solid fa-check"></i> En existencia</h2>
                <h2 class="origen">Origen: Neuquén, Argentina</h2>
                <button class="alcarrito"> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg></button>
            </figcaption>
            </a>    
            </article>
            <br>       
        </div>
        <div class="agregoprod">
            <div class="cant-prod-todo">
                <span class="control-label">Cantidad</span>
                <div class="cant-prod-nro">
                    <div class="cantidad">
                <div class="input-group">
                        <button class="qty" type="button">-</button>
                        <input type="text" name="qty" id="quantity_wanted"
                        value="1" class="input-group form-control" min="0" style="display: block;">
                            <button class="qty" type="button">+</button>
                
                       </div>
                    </div>
                </div>

        

    </div>
</div>
    

     <!-- **************************Newsletter************************************** -->
     <br>
     <hr class="principio-footer">   

        <div class="newsletter">
            <h3>Newsletter</h3>
                     <h2 class="texto-newsletter">¿Querés conocer todas las novedades que tenemos para vos y no perderte ningun descuento?</h2>
                     <br>
                     <h2 class="tu-mail"> Dejanos tu e-mail <input type="text" placeholder=" Ej: leito@gmail.com"><button class="boton-enviar">Enviar</button></h2>

        </div>
        
    </section>
        <!-- **************************FOOTER************************************** -->
            
    <footer>
        <div class="contenedor-footer-menu">
            <div class="box_footer">
                <img src="/img/logo.png" alt = "logo">
                    <p>Nuestra huerta nace con el objetivo de acercar los productos de temporada a todas las personas que desean disfrutar de una vida sana y saludable. La naturaleza es sabia. Los alimentos recolectados en la época apropiada proporcionan al organismo los nutrientes necesarios para hacer frente a cada época del año.</p>
            </div> 
          
                
            <div class="box_footer">
                <h2 class="menu-1">La Huerta</h2>
                    <nav>
                        <ul>
                            <li><a href="#">Acerca de </a></li>
                            <li><a href="#">Direccion</a></li>
                            <li><a href="#">telefono</a></li>
                            <li><a href="#">Email</a></li>
                            <li><a href="#">Contacto</a></li>
                        </ul>
                    </nav>
            </div>
        
            <div class="box_footer">
                <h2 class="menu-2">Menu</h2>
                    <nav>
                        <ul>
                            <li><a href="#">Frutas Orgánica</a></li>
                            <li><a href="#">Verduras Orgánica</a></li>
                            <li><a href="#">Bolsones y Promos</a></li>
                            <li><a href="#">Nuestras Recetas</a></li>
                            <li><a href="#">Cambio y devoluciones</a></li>
                        </ul>
                    </nav>
            </div>

            <div class="box_footer">
                <h2>Siguenos en nuestras Redes Sociales:</h2>
                <nav>
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook-square"></i> Facebook</a</li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                    </ul>
                </nav>                    
            </div>
        </div>
                
            <div class="box__copyright">
                <hr>
                    <p>Todos los derechos reservados <i class="fa-solid fa-registered"></i> 2022:
                        <b>Nuestra Huerta</b></P>
        
        
        
  </footer>
  <br>
</body>

</html>
