.buttonAdm {
    background-color: black;
    height: 30px;
    width: 30px;
    border-color: white;
    align-items: center;
    color: white;
}


.errores{
    color: red;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.aviso-error{
    color: red
}


.btn-info {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: bold;
    background-color: green;
    border-radius: 7px;
    text-align: center;
    height: 40px;
    margin: center;
    margin-top: 30px;
    border: 2px solid black;
}

.btn-danger {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: bold;
    background-color: red;
    border-radius: 7px;
    text-align: center;
    height: -10px;
    margin: center;
    margin-top: 30px;
    border: 2px solid black;
}


.table {
    background-color: gainsboro;
    width: 100%;
    text-align: center;
    justify-content: center;
    border-color: black;
    margin: 15px;
    border-radius: 7px;
}

h2 {
    color: grey;
    text-align: center;
}

.addButton {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: bold;
    background-color: brown;
    border-radius: 7px;
    text-align: center;
    height: 25px;

}

.imagenes_copadas{
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
}

