

.form1 {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

table{
    justify-content: space-between;
    
}
.productos{
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0 20px 0 20px;
    align-items: center;
    text-align: center;
    

    }
    table tr td img{
        width: 150px;
        padding-right: 20px;
        margin:center ;
    }

    table tr td {
        text-align: center;
        margin:center ;
    }

    .boton-suma-resta{
        display: flex;
        flex-direction: row;
        
    }

.sum{
width: 40px;
height: 40px;
background-color: #ecffcd;
color: black;
align-items: center;
text-align: center;
padding-top: 7px;
}

.pointer {cursor: pointer;}

/* ************************************MEDIA QUERY******************************************** */

    


    @media(min-width: 1200px){
        .hambur i{
            display: none;
        }

        
    }

    @media(min-width:648px){
        .burgg i{
            display: none;
        }
    }

    
    @media (max-width: 1200px){
        .list-servicio li{
            display: block;  
            
        }

        .user i{
            display: none;
        }
        .carrito i{
            display: none;
        }
           

        .contenedor-footer-menu{
            display: inline-block;
            text-align: center;
            text-decoration: none;
        }

    }






    @media (max-width: 1000px){
        .articulos{            
            grid-template-columns: repeat(4, 1fr);
        }

        .list-servicio li{
            display: none;
            
        }

        .box_footer p{
            width: 400px;
            height: 100px;
            
        }


        


    }

    @media (max-width: 800px){

        .articulos{
            
            grid-template-columns: repeat(3, 1fr);
        }

        

    }

    @media(max-width: 648px){
        .hambur i{
            display: none;            
        }
        .burgg i{
            display: block;
        }


    }

   

    @media (max-width: 600px){

        .articulos{
            
            grid-template-columns: repeat(2, 1fr);
        }

        .box_footer p{
            width: 300px;
            height: 100px;
            text-align: center;
            
        }
    }

    @media (max-width: 400px){

        .articulos{
            
            grid-template-columns: repeat(1, 1fr);
        }

        .box_footer p{
            width: 200px;
            height: 100px;
            text-align: center;
            
        }
    }

    @media (max-width: 351px){

        .articulos{
            
            grid-template-columns: repeat(1, 1fr);
        }

        .head-nav a, .head-nav input[type=text] {
            
            width: 40%;
            
        }

        .newsletter h3{
            font-size: 40px;
            
        }

        .tu-mail input{
            font-size: 15px;
            
        }

        .box_footer p{
            width: 180px;
            height: 100px;
            text-align: center;
            
        }

    }



/* .button3{
background-color: grey;
color: white;
border: none;
width: 300px;
font-size: 15px;
padding: 5px 10px;
border-radius: 5px;
border-color: black;
}

.button4{
background-color: white;
border:10px;
color:black;
width: 300px;
font-size: 15px;
padding: 5px 10px;
border-radius: 5px;
margin:0 auto;
border-color: black;

}

.divisor{
    margin-top: 15px;
} */
