/* <!-- ********************************GENERAL********************************* --> */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*body {
    color: grey;
    background-color: white;
    background-image: url(../img/fondo.jpg);
    font-size: 16px;
    font-family: 'Oswald', sans-serif
    width: auto;
    padding: 10px;
}*/


body{
    font-size: 16px;
    line-height: 26px;
    background-color: rgba(255, 255, 255, 0);
    font-family: "Lato",Arial,sans-serif;
    padding: 2px;
}


/* <!-- ********************************HEADER********************************* --> */



header{
    width: 100%;
}

a .logo_menu{
    width: 120px;
    border-radius: 50%; padding-top: -25px;
    text-align: start;  
    padding-bottom: 40px;
}

.head-nav {
    overflow: hidden;
    padding-top: 10px;
    width: 100%;
}

.head-nav a {
    float: right;
    display: block;
    color: rgb(131, 7, 7);
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
}

.head-nav input[type=text] {
    border: 1px solid #e3dede;
    border-radius: 9px;
    font-size: 25px;  
    
}

.head-nav input{
    background-color: #ecffcd;
}

.busca-dor{
    padding-top: 10px;
}


.head-nav a, .head-nav input[type=text] {
    float: none;
    display: inline;
    text-align: left;
    vertical-align: top;
    width: 60%;
    padding: 7px;
    padding-top: 12px;
    margin-top: 15px;
}

.lupa{
    margin-top: 17px;
    margin-left: -55px;
    margin-right: 10px;
    background-color: #eaffcb;
    border: none;
    font-size: 12px;
    color: rgba(93, 93, 89, 0.402);
}

.lupa:hover{
    color: #000000;
}


.user i{
    color: #000000;
    padding-top: 18px;
    padding-left: 20px;
}

.user i:hover{
    color: #977878;
    
}

/* /////////////////////////////////// */



.carrito i{
    color: #000000;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 15px;
}

.carrito i:hover{
    color: #977878;
}

/*formato para iconos de links*/
.ico-3 {
    color: rgba(8, 8, 199, 0.721);
    font-size: 32px; /*2em son 32px*/
    
  }

.list-servicio{
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    margin-top: -90px;
}

.list-servicio li{
    float: none;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.list-servicio li a{
    color: #0c5a7b;
    border-radius: 12px;
    padding-bottom: 10px;
    opacity: .8;
    text-decoration: none;
}

.list-servicio li a:hover{
    color: #0015ff;
    text-decoration: underline;
    border-bottom: 2px solid #fff;
    opacity: .6;
    border-radius: 15px;
    text-decoration: none;
    background-color: rgb(174, 212, 227);
}



/* <!-- ********************************BANNER********************************* --> */

.banner{
    width: 100%;
    height: 550px;
    background: url("../img/banner2.jpeg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

/* <!-- *******************************SUB_TITULO*************************************** --> */

.sub_titulo h2{
    color: #000000;
    text-align: center;
    text-decoration: none;
    background-color: aqua;
    border: 2px thick red;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    justify-content: flex-end;

}


.btn {
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 20px;
    background: #ff0000;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
  }

.btn:hover {
    opacity: 0.6;
  }

/* <!-- *******************************ARTICULOS_UNO************************************* --> */

.articulos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px; 
    margin: 10px 0;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 20px;
}

article img{
    width: 100%;
    height: 180px;
}




figcaption {
    background-color: rgba(112, 241, 77, 0.838);
    color: rgb(255, 0, 0);
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    padding-right: 30px;
    border-radius: 5px;
}
.carrito-dos{
    color: rgb(37, 67, 133);
    left: 30px;
    width: 15px;
    border: 1px solid #ff0000;
    border-radius: 3px;
}

.carrito-dos:hover {
    border-radius: 8px;
    opacity: 0.5;
  }

  button{
      background-color: #5590f5;
      border-radius: 5px;
      padding: 10px;
  }
  
  button:hover{
      border-radius: 8px;
      opacity: 0.5;
  }

  article a img{
      border-radius: 10px;
  }


/* <!-- *******************************ARTICULOS_DOS************************************* --> */


/* <!-- *******************************TRABAJO LEITO************************************* --> */
.newsletter h3{
    font-size: 60px;
    align-items: center;
    text-align: center;
    color: #7a7a7a;
    padding-top: 30px;
    padding-bottom: 30px;
}

.tu-mail{
text-align: center;
color: rgb(67, 67, 67);

padding-bottom: 180px;
}
.tu-mail input{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px medium double red;
    border-radius: 7px;
    opacity: .6;
    padding: 5px;
}

 .newsletter h2 .boton-enviar{
    background-color: rgb(93, 166, 96);
    padding-left: 10px;
    padding-bottom: 5px;
    text-align: center;
    justify-content: center;
    color: aqua;
    

}

.texto-newsletter{
    text-align: center;
    color: #7a7a7a;
}

/* <!-- *******************************REGISTER************************************* --> */


/* <!-- *******************************REGISTER************************************* --> */



/* <!-- *******************************footer************************************* --> */

.box_footer img{
    width: 150px;
    display: block;
    margin: 0px auto;
}


.box_footer{
    display: inline-block;
    width: 50%;
	padding: 20px;
	border: 5px solid blue;
	top: 20px;
	bottom: 20px;
    
}

.contenedor-footer-menu{
    justify-content: space-between; 
    display: flex;
    text-align: center;
    text-decoration: none;
}

.box_footer li{
    background-color: #ff0000;
    text-decoration: none;
}






.box__copyright{
    max-width: 1200px;
    margin:auto;
    text-align: center;
    padding: 0px 40px;
}

p{
    margin-top: 20px;
    color: black;
}
    .box__copyright p{
        margin-top: 100p0x;
        color:black;

    }
   hr{
        border:none;
        height: 1px;
        background-color: black;
    }





    @media (max-width: 800px){

        .articulos{
            
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 450px){

        .articulos{
            
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 300px){

        .articulos{
            
            grid-template-columns: repeat(1, 1fr);
        }
    }



.button3{
background-color: grey;
color: white;
border: none;
width: 300px;
font-size: 15px;
padding: 5px 10px;
border-radius: 5px;
border-color: black;
}

.button4{
background-color: white;
border:10px;
color:black;
width: 300px;
font-size: 15px;
padding: 5px 10px;
border-radius: 5px;
margin:0 auto;
border-color: black;

}

.divisor{
    margin-top: 15px;
}



