.formLogin{
    justify-content: center;
    padding: 40px;
    align-items: center;
    margin: auto;
    display: flex;
}

.errores{
    color: red;
    font-size: 15px;
    font-weight: bold;
    text-align: center;    
}

.text-danger{
    color: red;
    font-size: 15px;
    font-weight: bold;
    text-align: center;    
}

.aviso-error{
    color: red
}

.labelText{
    font-family: "Lato",Arial,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #5ba718;
    margin: 15px;
    position: relative;
    padding: 5px;
}

.form-control{
    margin: 15px;
}
.labelText1{
    font-family: "Lato",Arial,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-decoration: underline;
    line-height: 28px;
    color:#676767;
    margin: 15px;
    position: relative;
    padding: 5px;
}

.label2 {
    text-align: Inside;
    Width: 250px;
    background: #FFFFFF;
    color: #676767;
    height: 25px;
    border-radius: 7px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 15px;
}

.label3 {
    text-align: Inside;
    Width: 250px;
    margin: 17px;
    background: #FFFFFF;
    color: #676767;
    height: 25px;
    border-radius: 7px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button3 {
   background: #5ba718;
    color: white;
    /* height: 25px; */
    margin-left: 15px;
    width: 250px;
    border-radius: 7px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Lato",Arial,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
}









.create-form{
    padding: 20px 15px;
}

.control-formulario{
    margin-bottom: 15px;
    
    
}
.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block; /*esto mueve los bloques debajo del texto*/
    
}
.control{
    background-color: white;
    border-color: black;
    color: #ffffff;
    width: 100%;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
       
}

.button-form{
    background-color: #39b54a;
    color: #ffffff;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
}


/*------------Ajustes Formularios-------------------*/

.registrarse{
    text-align: center;
}


.compra{
    text-align: center;
}

.create-form{
    padding: 20px 15px;
    width: 100px;
}


.control-formulario{
    margin-bottom: 15px;

}
.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block; /*esto mueve los bloques debajo del texto*/
    
}
.control{
    width: 100%;
    padding: 8px;
}

.check{
    font-size: 22px;
}

/* .button2{
    background-color: grey;
    color: white;
    border: none;
    width: 100%;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    } */
    .form1 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }



/* .button3{
    background-color: #ecffcd;
    color: black;
border:solid;
width: 300px;
font-size: 15px;
padding: 5px 10px;
border-radius: 5px;
border-color: black;
box-sizing: border-box;
margin: center;
padding: 0.5em 1em;
  
} */

.button4{
background-color: white;
border:10px;
border:solid;
color:black;
width: 300px;
font-size: 15px;
padding: 5px 10px;
border-radius: 5px;
margin:0 auto;
border-color: black;
box-sizing: border-box;


}

.button4 :hover{
    background-color: grey;
}

.button3 :hover{
    background-color: grey;
}



.divisor{
    margin-top: 15px;
}




/* ************************************MEDIA QUERY******************************************** */

    


    @media(min-width: 1200px){
        .hambur i{
            display: none;
        }

        
    }

    @media(min-width:648px){
        .burgg i{
            display: none;
        }
    }

    
    @media (max-width: 1200px){
        .list-servicio li{
            display: block;  
            
        }

        .user i{
            display: none;
        }
        .carrito i{
            display: none;
        }
           

        .contenedor-footer-menu{
            display: inline-block;
            text-align: center;
            text-decoration: none;
        }

    }






    @media (max-width: 1000px){
        .articulos{            
            grid-template-columns: repeat(4, 1fr);
        }

        .list-servicio li{
            display: none;
            
        }

        .box_footer p{
            width: 400px;
            height: 100px;
            
        }


        


    }

    @media (max-width: 800px){

        .articulos{
            
            grid-template-columns: repeat(3, 1fr);
        }

        

    }

    @media(max-width: 648px){
        .hambur i{
            display: none;            
        }
        .burgg i{
            display: block;
        }


    }

   

    @media (max-width: 600px){

        .articulos{
            
            grid-template-columns: repeat(2, 1fr);
        }

        .box_footer p{
            width: 300px;
            height: 100px;
            text-align: center;
            
        }
    }

    @media (max-width: 400px){

        .articulos{
            
            grid-template-columns: repeat(1, 1fr);
        }

        .box_footer p{
            width: 200px;
            height: 100px;
            text-align: center;
            
        }
    }

    @media (max-width: 351px){

        .articulos{
            
            grid-template-columns: repeat(1, 1fr);
        }

        .head-nav a, .head-nav input[type=text] {
            
            width: 40%;
            
        }

        .newsletter h3{
            font-size: 40px;
            
        }

        .tu-mail input{
            font-size: 15px;
            
        }

        .box_footer p{
            width: 180px;
            height: 100px;
            text-align: center;
            
        }

    }


