<%- include ('./partials/head') %>
<body>
    <main>
        <!-- HEADER -->
        <%- include ('./partials/header') %>
        <br>
        <hr>



        <div>
            <section>

                <div class="articulos">
                    <article>
                        <a href="/product/detalleProducto_bananas" target="_blank"><img class="imagenes_copadas"
                                src="/img/producto/banana.jpg" alt="Frutas"></a>
                        <figcaption>
                            <h2>Producto 2</h2> <br>
                            <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                    class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                    class="fa-solid fa-cart-shopping"></i></button>
                        </figcaption>
                    </article>
                    <article>
                        <a href="/product/detalleProducto_mandarina" target="_blank"><img src="img/producto/mandarina.jpg"
                                alt="verduras"></a>
                        <figcaption>
                            <h2>Producto 2</h2> <br>
                            <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                    class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                    class="fa-solid fa-cart-shopping"></i></button>
                        </figcaption>
                    </article>
                    <article>
                        <a href="/product/detalleProducto_kiwi" target="_blank"><img src="img/producto/kiwi1.jpg"
                                alt="Frutas"></a>
                        <figcaption>
                            <h2>Producto 2</h2> <br>
                            <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                    class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                    class="fa-solid fa-cart-shopping"></i></button>
                        </figcaption>
                    </article>
                    <article>
                        <a href="/product/detalleProducto_limon" target="_blank"><img src="img/producto/pera1.jpg"
                                alt="verduras"></a>
                        <figcaption>
                            <h2>Producto 2</h2> <br>
                            <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                    class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                    class="fa-solid fa-cart-shopping"></i></button>
                        </figcaption>
                    </article>
                    <article>
                        <a href="/product/detalleProducto_brocoli" target="_blank"><img src="img/producto/pomelorojo1.jpg"
                                alt="Frutas"></a>
                        <figcaption>
                            <h2>Producto 2</h2> <br>
                            <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                    class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                    class="fa-solid fa-cart-shopping"></i></button>
                        </figcaption>
                    </article>
                    <article>
                        <a href="/product/detalleProducto_champignon" target="_blank"><img
                                src="img/producto/naranja.jpg" alt="verduras"></a>
                        <figcaption>
                            <h2>Producto 2</h2> <br>
                            <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                    class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                    class="fa-solid fa-cart-shopping"></i></button>
                        </figcaption>
                    </article>
                    <article>
                        <a href="/product/detalleProducto_lechuga" target="_blank"><img src="img/producto/Uvas.png"
                                alt="Frutas"></a>
                        <figcaption>
                            <h2>Producto 2</h2> <br>
                            <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                    class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                    class="fa-solid fa-cart-shopping"></i></button>
                        </figcaption>
                    </article>
                    <article>
                        <a href="/product/detalleProducto_papa" target="_blank"><img src="img/producto/Durazno.png"
                                alt="verduras"></a>
                        <figcaption>
                            <h2>Producto 2</h2> <br>
                            <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                    class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                    class="fa-solid fa-cart-shopping"></i></button>
                        </figcaption>
                    </article>
                    <br>
                </div>

            </section>
            
        </div>



        
        <!-- Newsletter -->
        <%- include ('./partials/newsletter') %>
        <!-- FOOTER -->
        <%- include ('./partials/footer') %>
    </main>
</body>
</html>
