<!-- head -->

<%- include ('./partials/head') %>

<body>
    <!-- HEADER -->
    <%- include ('./partials/header') %>

    <br>
    <hr>

    <!-- BANNER -->
    
    
    <div class="banner">
        <H2>Conoce nuestros campos!!</H2>
        <p>Las mejores y mas frescas cosechas, sembrado con todas las normas y cuidados priorizando siempre tu bienestar y la de tu familia</p>
        <a href="#" class="btn">Conoce <i class="fas fa-chevron-right"></i></a>
    </div>

    <br>

    <!-- SUB_TITULO -->

    <div class="sub_titulo">
        <a href="#"> <h2>Lo Más Destacado</h2> </a>
    </div>

    <br>

    <!-- ARTICULOS_UNO -->

    <section>

        <div class="articulos">

            <article>
                <a href="/bananas" target="_blank"><img class="imagenes_copadas" src="img/banana.jpg" alt="Frutas"></a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
            </article>

            <article>
                <a href="/mandarina" target="_blank"><img src="img/mandarina1.jpg" alt="verduras"></a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
            </article>

            <article>
                <a href="/kiwi" target="_blank"><img src="img/kiwi1.jpg" alt="Frutas"></a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
            </article>

            <article>
                <a href="/limon" target="_blank"><img src="img/limon1.jpg" alt="verduras"></a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
            </article>

            <article>
                <a href="/brocoli" target="_blank"><img src="img/banana1.jpg" alt="Frutas"></a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
            </article>

            <article>
                <a href="/champignon" target="_blank"><img src="img/imagen de verduras.jpg" alt="verduras"></a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
            </article>

            <article>
                    <a href="/lechuga" target="_blank"><img src="img/imagen de frutas.jpg" alt="Frutas"></a>
                    <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
                </article>

                <article>
                    <a href="/papa" target="_blank"><img src="img/imagen de verduras.jpg" alt="verduras"></a>
                    <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
                </article>

                <br>

        </div>
        
    </section>

 <!-- SUB_TITULO -->

    <div class="sub_titulo">
        <a href="#"> <h2>Ofertas</h2> </a>
    </div>

<br>

    <!-- SECCION_DOS -->

    <section>

        <div class="articulos">

            <article>
                <a href="#" target="_blank"> <img src="img/Rucula.png" alt="Lechuga" class="product_img"> </a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
            </article>

            <article>
                <a href="#" target="_blank"> <img src="img/Rucula.png" alt="Rucula" class="product_img"> </a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
            </article>

            <article>
                <a href="#" target="_blank"> <img src="img/papa-blanca.png" alt="Papa Blanca" class="product_img"> </a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
            </article>

            <article>
                <a href="#" target="_blank"> <img src="img/Batatas.png" alt="Batatas" class="product_img"> </a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
            </article>

            <article>
                <a href="#" target="_blank"> <img src="img/Tomate.jpg" alt="Tomate" class="product_img"> </a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
            </article>

            <article>
                <a href="#" target="_blank"> <img src="img/Batatas.png" alt="Batatas" class="product_img"> </a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
            </article>

            <article>
                <a href="#" target="_blank"> <img src="img/Tomate.jpg" alt="Tomate" class="product_img"> </a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
            </article>
                
            <article>
                <a href="#" target="_blank"> <img src="img/Tomate.jpg" alt="Tomate" class="product_img"> </a>
                <figcaption> <h2>Producto 2</h2> <br> <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i> Agregar al Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" /> </svg></button> </figcaption>
            </article>

        </div> 

    </section> 

     <!-- Newsletter -->
     
     <%- include ('./partials/newsletter') %>

    
    <!-- FOOTER -->

    <%- include ('./partials/footer') %>
    
</body>

</html>
