<%- include ('./partials/head') %>
<link rel="stylesheet" href="/css/nuestrasRecetas.css">

<body>
    <main>
        <!-- HEADER -->
        <%- include ('./partials/header') %>
        <div class="recetas">
            <div class="receta_detalle">
                <hr>
                <br>
                <h1>Pastel de verduras</h1>
                <br>
                <div class="img_recetas">
                    <img src="img/producto/pastel-de-verduras.jpg" alt="Pastel de verduras">
                </div>
                <br>
                <h2>ingredientes</h2>
                <br>
                <ul>
                    <li>1 calabacín</li>
                    <li>3 zanahorias</li>
                    <li>150 gr de guisantes tiernos congelados</li>
                    <li>150 gr de judías verdes congeladas</li>
                    <li>1 cebolla</li>
                    <li>4 huevos</li>
                    <li>200 ml de nata líquida para cocinar</li>
                    <li>Aceite de oliva virgen extra</li>
                    <li>Sal</li>
                    <li>Pimienta negra recién molida.</li>
                </ul>
                <br>
                <h2>preparacion</h2>
                <br>
                <div class="img_recetas">
                    <img src="img/producto/Pastel-de-verduras-pasos.jpg" alt="">
                </div>
                <p>
                    Pelamos la cebolla y cortamos en rodajas finas. <br>
                    Lavamos muy bien el calabacín, despuntamos y
                    cortamos en
                    medias rodajas. <br>
                    Ponemos ambas cosas, la cebolla y el calabacín a fritar en una sartén con aceite de
                    oliva extra virgen. Reservamos. <br>
                    Pelamos las zanahorias y cortamos en daditos, las cocemos en agua unos 8 minutos, <br>
                    cocemos, por
                    separado,
                    de la misma forma los guisantes y las judías. <br>
                    Enfriamos bajo el chorro de agua para parar la cocción y
                    escurrimos. <br>
                    Batimos los huevos en un cuenco grande, añadimos la nata líquida y batimos con <br>
                    una pizca de sal y
                    otra
                    de pimienta. <br>
                    Incorporamos el calabacín y la cebolla así como las verduras cocidas. <br>
                    Vertemos esta mezcla en un molde alargado, tipo plum cake, <br>
                    si no es de silicona deberias engrasarlo con
                    un poco de aceite o mantequilla <br>
                    para evitar que se pegue. Lo introducimos en el horno precalentado a
                    160º C unos 40 o 45 minutos, <br>
                    comprobaremos que está cocinado pinchando con una brocheta, <br>
                    si está sale
                    limpia es que ya está listo.
                </p>
                <br>
                <div class="img_recetas">
                    <img src="img/producto/Pastel-de-verduras-2.jpg" alt="">
                </div>
                <br>
                <p>
                    Podes servirlo en caliente o en frío con un poco de salsa de tomate frito.
                </p>
                <br>
                <hr>
            </div>
            <div class="receta_detalle">
                <br>
                <h1>Quesadillas de verdura orgánica</h1> <br>
                <div class="img_recetas">
                    <img src="img/producto/quesadillas.jpeg" alt="quesadillas">
                </div>
                <h2>ingredientes</h2>
                <br>
                <ul>
                    <li>2 zanahorias orgánicas</li>
                    <li>2 puerros orgánicos</li>
                    <li>1 pimiento rojo orgánico</li>
                    <li>300 gramos queso suave</li>
                    <li>6 tortillas de maíz o trigo</li>
                </ul>
                <br>
                <h2>preparacion</h2>
                <p>
                    Rayamos o cortamos la verdura muy fina después de lavarla bien. <br>
                    Rayamos también el queso y añadimos
                    la
                    mitad a la mezcla de verduras y removemos todo bien. <br>
                    Añadimos sal y pimienta negra al gusto. <br>
                </p>
                <br>
                <div class="img_recetas">
                    <img src="img/producto/quesadillasUno.jpeg" alt="">
                </div>
                <br>
                <p>
                    Calentamos la sartén a potencia baja. <br>
                    No vamos a cocinar las verduras, así que queremos que se
                    calienten
                    bien dentro de las tortillas. <br>
                    Ponemos en la sartén una tortilla, añadimos la mezcla dejando 1 cm
                    hasta
                    el borde, <br>
                    añadimos un poco más del queso restante y ponemos otra tortilla encima. <br>
                    Como el fuego está
                    bajo, tardará unos 8-10 minutos en hacerse por la primera cara <br>
                    y otros 5-6 por la segunda, tras
                    darle la
                    vuelta rápido y con cuidado <br>
                    una vez veamos que esté hecha. El queso se fundirá y hará que todos los
                    sabores se mezclen perfectamente. <br>
                </p>
                <br>
                <div class="img_recetas">
                    <img src="img/producto/quesadillasDos.jpeg" alt="">
                </div>
                <br>
                <p>
                    Una vez esté lista, sacamos del fuego, <br>
                    dejamos que repose y mientras vamos montando el resto. <br>
                    También
                    podemos usar más sartenes para que se hagan varias al mismo tiempo. <br>
                    Pasamos 5 minutos, cortamos en
                    triángulos y podemos disfrutar de esta riquísima receta. <br>

                    Podemos añadir picante, salsas para dipear o cualquier cosa que se nos ocurra. <br>
                    Buen Provecho.
                </p>
                <br>
            </div>
        </div>
        <!-- Newsletter -->
        <%- include ('./partials/newsletter') %>
        <!-- FOOTER -->
        <%- include ('./partials/footer') %>
    </main>
</body>