<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/formProd.css"> 
</head>
<link rel="stylesheet" href="/css/formProd.css">
<body>
    <form action="" method="">
        <a href="/" target="_blank">
            <img class="logo_menu" src="/img/logo.png" alt="Volver al Inicio" title="Volver al Inicio">
        </a>
		
	<div class="container products-wrapper">
		<div class="row">
			<div class="register">

				

				<h2 class="products-title">Estás editando: <i>ACA VA EL nombre Producto</i></h2>
			</div>
		</div>
		<div class="register">
			<form action="/product/edit/id" method="PUT" enctype="multipart/form-data">
				<label class="label">Categoría:</label>
            <select name="categoria" class="element">
                <option value="verduras">Verduras</option>
                <option value="frutas">Frutas</option>
                <option value="bolsones y promos">Bolsones y Promos</option>
            </select>
            <!-- <form action="/registro" method="POST" class="element-form"> -->
            <!-- <div class="element-form"> -->
                <label for="Nombre del Producto">Producto:</label>
                <input type="Text" name="nombreProducto" id="nombreProducto" class="element">
            <!-- </div> -->
            <!-- <div class="element-form"> -->
                <label for="Precio">Precio:</label>
                <input type="number" name="precio" placeholder="00.0" class="element">
            <!-- </div>
            <div class="element-form"> -->
                <label for="Descuento">Descuento:</label>
                <input type="number" name="descuento" placeholder="10%" class="element">
            <!-- </div>
            <div class="element-form"> -->
                <label for="Sección">Sección:</label>
                <input type="text" name="seccion" class="element">
            <!-- </div>
            <div class="element-form"> -->
                <label>Subir foto del Producto:</label>
                <input type="file" name="image" accept=".jpg, .png">
            <!-- </div> -->
        
       
            <!-- <div> -->
                <label for="Descripcion">Descripción:</label>
                <textarea name="comentario" class="element">Descripción del Producto</textarea>
            <!-- </div> -->
				<br>
				
            <button type="submit" class="button1">Guardar Producto</button>
        </form>
			
	</div>
	
	<!-- /todos los productos -->

	<!-- footer -->
	<!-- <%- include('partials/footer') %> -->
	<!-- /footer -->
</body>	
</html>