<!-- head -->
<%- include ('./partials/head') %>
<link rel="stylesheet" href="/css/register.css">

<body>
    <!-- HEADER -->
    <%- include ('./partials/header') %>
    <br>
    <hr>
        <main class="register">

            <div class="registrarse">Registrate por única vez</div>
                            
           <h4 class="compra">Comprá en Nuestra Huerta y llevá el control de tus pedidos en forma rápida</h4>					
            
            <div class="form1">
                <form action="/" method="get">
                    <br>
                    <input type="text" name="name" placeholder="Ej. José Pepin" class="button4">
                    <br>
                    <br>
                    <input type="email" name="email" placeholder="Ej. josepepin@hotmail.com" required class="button4">
                    <br>
                    <br>
                    <input type="number" name="telefono" placeholder="Ej. 1155550000" required class="button4">
                    <br>
                    <br>
                    <input type="password" name="pass" placeholder="Elegí tu contraseña" class="button4">
                    <br>
                    <br>
                    <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña" class="button4">
                    <br>
                    <br>
                    <input type="submit" value="Enviar" class="button3">
                    <br>
                    <br>
                    <input type="reset" value="Borrar" class="button3">
                    <br>
                    <br>
                </form>

            </div>
            
        </main>




    <!-- Newsletter -->
     
    <%- include ('./partials/newsletter') %>
    
    <!-- FOOTER -->

    <%- include ('./partials/footer') %>
</body>

</html>
