<%- include ('./partials/head') %>
<body>
    <main>
        <!-- HEADER -->
        <%- include ('./partials/header') %>
        <br>
        <hr>
        <div>
            <h1>Aca van las Frutas Organicas</h1>
        </div>
        <!-- Newsletter -->
        <%- include ('./partials/newsletter') %>
        <!-- FOOTER -->
        <%- include ('./partials/footer') %>
    </main>
</body>
</html>
