<!-- <div class="contenedor">
    <header>
        <div class="head-nav">
            <a href="/" target="_blank"><img class="logo_menu" src="/img/logo.png" alt="Volver al Inicio"
                    title="Volver al Inicio"></a>
            <form action="/" method="post">
                <input type="text" placeholder="Buscar productos recetas y más... "> <button class="lupa"><i
                        class="fa fa-search fa-2x"></i></button>
            </form>
            <a class="hambur" href="#"> <i class="fa-solid fa-bars fa-2x"></i> </a>
            <a class="user" href="/user/login" target="_blank"> <i class="fa-solid fa-user fa-2x" alt="Login"
                    title="Login"></i></a>
            <a class="carrito" href="/user/carrito" target="_blank"> <i class="fa-solid fa-cart-shopping fa-2x"
                    alt="Tu Carrito de Compras" title="Tu Carrito de Compras"></i> </a>
        </div>
        <nav class="list-servicio">
            <ul>
                <li><a href="/product/frutasOrganicas" target="_blank">Frutas Orgánicas</a></li>
                <li><a href="/product/verdurasOrganicas" target="_blank">Verduras Orgánicas</a></li>
                <li><a href="/product/bolsonesYPromos" target="_blank">Bolsones y Promos</a></li>
                <li><a href="/product/nuestrasRecetas" target="_blank">Nuestras Recetas</a></li>
                <li><a href="/contactanos" target="_blank">Contactanos</a></li>
                <li><a href="/preguntasFrecuentes" target="_blank">Preguntas Frecuentes</a></li>
            </ul>
        </nav>
        <div class="burgg">
            <a class="hambur" href="#"> <i class="fa-solid fa-bars fa-2x"></i> </a>
        </div>
    </header>
</div> -->

<div class="contenedor">
    <header>
        <div class="header">
            <div class="logo">
                <a href="/"> <img src="img/logo.png" alt="logo"> </a>
            </div>

            <div class="buscador">
                <form action="" method="post">
                    <input type="text" placeholder="Buscar..." name=""> <button class="botonBusqueda"> <i class="fa-solid fa-magnifying-glass fa-2x"></i></button>
                </form>
            </div>

            <div class="iconos-login-carrito">
                <nav>
                    <ul class="lista-iconos">
                        <li class="hamburguesa"> <a href="#"> <i class="fa-solid fa-bars fa-2x"></i> </a></li>
                        <li class="usuario-login"> <a href="#"> <i class="fa-solid fa-user-group fa-2x"></i>
                            </a>
                            <ul>
                                <li><a href="/user/login">Login</a></li>
                                <li><a href="/user/register">Register</a></li>
                            </ul>
                        </li>
                        <li class="carrito-compras"> <a href="/user/carrito"> <i class="fa-solid fa-cart-shopping fa-2x"></i> </a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="navegacion">
            <nav class="listaServicio">
                <ul>
                    <li><a href="/contactanos" target="_blank">Contactanos</a></li>
                    <li><a href="/product/frutasOrganicas" target="_blank">Frutas Orgánicas</a></li>
                    <li><a href="/product/verdurasOrganicas" target="_blank">Verduras Orgánicas</a></li>
                    <li><a href="/product/bolsonesYPromos" target="_blank">Bolsones y Promos</a></li>
                    <li><a href="/product/nuestrasRecetas" target="_blank">Nuestras Recetas</a></li>
                </ul>
            </nav>
        </div>

    </header>