<br>
     <hr class="principio-footer">   

        <div class="newsletter">
            <h3>Newsletter</h3>
                     <h2 class="texto-newsletter">¿Querés conocer todas las novedades que tenemos para vos y no perderte ningun descuento?</h2>
                     <br>
                     <h2 class="tu-mail"> Dejanos tu e-mail <input type="text" placeholder=" Ej: leito@gmail.com"><button class="boton-enviar">Enviar</button></h2>

        </div>